.userData {
  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid gray;
  margin: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px grey;
  text-align: center;
}
.userData img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.userData p{
  margin-bottom: 0px;
}
.errormsg{
  color: red;
  font-size: 30px;
  text-align: center;
}
.footer-copyright {
  background: #343a40 !important;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
.footer-copyright p {
  margin: 10px 0 10px 0 !important;
}

.main-div {
  margin: 25px;
}
.button {
  padding: 0px 5px;
  background: #1c8856;
  color: #fff;
  border: 1px solid #1c8856;
  border-radius: 5px;
  font-size: 12px;
  margin-right: 5px;
}
.navbar {
  margin-bottom: 20px;
}
.list-group-item{
  cursor: pointer;
}
.card-title{
  text-transform: capitalize;
}