.userData {
  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid gray;
  margin: 20px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 0px grey;
  text-align: center;
}
.userData img {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
}
.userData p {
  margin-bottom: 0px;
}
.errormsg {
  color: red;
  font-size: 30px;
  text-align: center;
}
.footer-copyright {
  background: #343a40 !important;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
.footer-copyright p {
  margin: 10px 0 10px 0 !important;
}
.main-div {
  margin: 25px;
}
.table thead th {
  background: #007bff;
  color: #fff;
}
.table td,
.table th {
  padding: 10px;
}
button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 5px !important;
  margin-right: 10px !important;
}
button[disabled] {
  cursor: not-allowed;
  background: #a4a4a4;
}
.delete {
  background: #e40404;
}
.navbar {
  margin-bottom: 20px;
}
.list-group-item {
  cursor: pointer;
}
.card-title {
  text-transform: capitalize;
}
.card {
  margin-bottom: 20px;
}
.loaderBackground {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateZ(0);
  background: #585858b0;
}
::selection {
  background-color: #e259dec7;
}
